argcomplete==3.5.0
astunparse==1.6.3
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
flatbuffers==24.3.25
idna==3.8
Markdown==3.7
MarkupSafe==2.1.5
mdurl==0.1.2
pygame==2.6.0

